@{
    ViewData["Title"] = "Bruto";
}

@model CombinedModel

<div class="d-flex flex-grow">
    <form asp-action="Calculate" class="flex-grow">
        <div class="form-group">
            <label for="exampleInputEmail1" asp-for="model.Neto">Neto Iznos</label>
            <input type="number" asp-for="model.Neto" class="form-control" id="exampleInputEmail1" aria-describedby="neto" name="neto" required placeholder="0">
            <span asp-validation-for="model.Neto" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Izracunaj</button>
    </form>
</div>
